@import '~@angular/material/theming';
@import './styles/colors/blue';

@import url('https://use.typekit.net/jnq3uxd.css');

// Plus imports for other components in your app.
@import './../../../libs/nav/sidenav/src/lib/sidenav.component-theme.scss';

$custom-typography: mat-typography-config(
  $font-family: 'sofia-pro'
);

@include mat-core($custom-typography);

$ts-primary: mat-palette($custom-blue);
$ts-accent: mat-palette($mat-green, A200, A100, A400);

// The warn palette is optional (defaults to red).
$ts-warn: mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$ts-theme: mat-light-theme(
  $ts-primary,
  $ts-accent,
  $ts-warn
);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($ts-theme);

@include suite-sidenav-component-theme($ts-theme);
/* You can add global styles to this file, and also import other style files */

$background: map-get($ts-theme, background);
$foreground: map-get($ts-theme, foreground);

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  margin: 0;
  font-family: sofia-pro, sans-serif;
  background-color: mat-color($background, background);
}
a {
  color: white;
  text-decoration: none;
}
.w-full {
  width: 100%;
}
.flex {
  display: flex;
}
.flex-1 {
  flex: 1;
}
.flex-col {
  display: flex;
  flex-direction: column;
}
.flex-row {
  display: flex;
  flex-direction: row;
  &.gap {
    & > * {
      margin-left: 6px;
      margin-right: 6px;
      &:first-child {
        margin-left: 0;
      }
      &:last-child {
        margin-right: 0;
      }
    }
  }
}
.justify-between {
  justify-content: space-between;  
}
.justify-around {
  justify-content: space-around;  
}
// html, body { height: 100%; }
// body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
